
:root {
	--primary-colour: #ff0000;
	--secondary-colour: #DAA520;
	--tinsel-colour: #C0C0C0;
}

body {
	display: flex;
	justify-content: space-between;
	background-color: #DCDCDC;
	font-size: 14px;
}

.ground {
	position: absolute;
	background-color: #FFF;
	width: 100%;
	height: 500px;
	left: 0px;
	top: 600px;
	z-index: -10;
}

.controls {
	min-width: 300px;
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin-right: 50px;
	text-align: center;
	font-family: 'Helvetica Neue', sans-serif;
	border: 1px solid grey;
	border-radius: 5px;
	background-color: #FFF;
	box-shadow: 3px 3px grey;
}

.control {
	margin-bottom: 1em;
}

.sound-effect-box {
	border: 1px solid grey;
	border-radius: 5px;
	margin: 0 10px 10px;
}

.tree-container {
	margin-top: 50px;
}

.main-tree {
	padding: 0 50px;
}

#Triangle {
	cursor: pointer;
}

.topper {
  width: 100%;
  height: 50px;
  margin-bottom: -24px;
  text-align: center;
  font-size: 2.4em;
}

.present-container {
	font-size: 3em;
	text-align: center;
	line-height: 0.6em;
	width: 452px;
	padding: 0 50px;
	margin-top: -20px;
}

.decoration {
	position: absolute;
	font-size: 30px;
	z-index: 100;
}

.tinsel {
	stroke: var(--tinsel-colour);
	stroke-width: 18;
	fill: none;
	stroke-linecap: round;
	/*stroke-linejoin: round;*/
}

.snowflake {
	width: 7px;
	height: 7px;
	background-color: #fff;
	border-radius: 50%;
	border-bottom: 1px solid lightgrey;
	position: absolute;
	z-index: 200;
}

.hidden-button {
	display: none;
}

